*{
    margin: 0px;   padding: 0px;
}


/* header section */
.menu-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
    background: rgba(229, 84, 115, 0.10);
}
.menus{
    display: flex;
    gap: 30px;
    font-size: 30px;
    margin: 10px 10px 10px 10px;
    color: rgb(183, 123, 133);
}
.btn-primary{
    background-color: rgb(204, 147, 147);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 15px;

}
.logo{
    width: auto;
    height: 10px;

}
.item{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.item:hover{
    color: brown;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);

}

.banner-img{
    width: 635px;
    height: 800px;
    margin-left: 20px;
}

.banner-info{
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 150px;
    font-size: 30px;
}