*{
    margin: 0px;   padding: 0px;
}
span{
    color: red;
}

/* header section */
.menu-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
    background: rgba(229, 84, 115, 0.10);
}
.menus{
    display: flex;
    gap: 30px;
    font-size: 30px;
    margin: 10px 10px 10px 10px;
    color: rgb(183, 123, 133);
}
.btn-primary{
    background-color: rgb(204, 147, 147);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 15px;

}
.logo{
    width: auto;
    height: 10px;

}
.item{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.item:hover{
    color: brown;
}


/* banner container */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);

}

.banner-img{
    width: 635px;
    height: 800px;
    margin-left: 20px;
}

.banner-info{
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 150px; 
    font-size: 30px;
}

/* featured Container */

.feature-info{
    text-align: center;
    padding: 80px;
    margin: 50px;
    font-size: 25px;
}

.feature-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.feature-img1{
    background-color: white;
    text-align: center;
}

.feature-img2{
    background-color: white;
    text-align: center;
    align-items: center;
}

.feature-img3{
    background-color: white;
    text-align: center;
}
.ft-img1{
    background-color: aqua;
    width: 314px;
    height: 471px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.ft-img2{
    width: 314px;
    height: 464px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.ft-img3{
    background-color: aqua;
    width: 314px;
    height: 471px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.icon-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    box-shadow: 10px 50px 100px;
    font-size: 20px;
    padding: 30px;

}



/* deal container */

.deal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);  
    width: 1922px;
    height: 620px;
}

.deal-container{
    margin-top: 200px;
}
.deal-des{
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: rgba(39, 39, 39, 0.60);
    padding: 15px;
    width: 700px;

}
.deal-title{
    text-align: center;
    font-size: 30px;
}
.deal-btn{
    
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    display: inline-flex;

}
.bt{
    margin: -250px 500px ;
}