*{
 
   margin: 0px;   padding: 0px;
   
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}



span{
    color: red;
}

/* header section */
.menu-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
    background: rgba(229, 84, 115, 0.10);
}
.menus{
    display: flex;
    gap: 30px;
    font-size: 30px;
    margin: 10px 10px 10px 10px;
    color: rgb(183, 123, 133);
}
.btn-primary{
    background-color: #E55473;
    margin: 15px;
    padding: 26px;
    border-radius: 10px;
    border: none;
    color: #e7e4e4;
    font-size: 15px;

}
.logo{
    width: auto;
    height: 10px;

}
.item{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.item:hover{
    color: brown;
}


/* banner container */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);

}

.banner-img{
    width: 635px;
    height: 800px;
    margin-left: 20px;
}

.banner-info{
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 150px; 
    
}
.bannter-title{
    font-size: 50px;

}
.banner-des{
    font-size: 20px;
    padding-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    padding-bottom: 20px;

}
.btn-banner{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #e7e4e4;
    border: none;

}

/* featured Container */

.feature-info{
    text-align: center;
    padding: 80px;
    margin: 50px;

}
.feture-title{
    font-size: 40px;
    padding-bottom: 10px;
}
.feature-des{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}
.feature-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.feature-img1{
    background-color: white;
    text-align: center;
}

.feature-img2{
    background-color: white;
    text-align: center;
    align-items: center;
}

.feature-img3{
    background-color: white;
    text-align: center;
}
.ft-img1{
    background-color: aqua;
    width: 314px;
    height: 471px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.ft-img2{
    width: 314px;
    height: 464px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.ft-img3{
    background-color: aqua;
    width: 314px;
    height: 471px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.icon-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    
    font-size: 20px;
    padding: 30px;

}



/* deal container */

.deal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);  
    width: 1922px;
    height: 620px;
}

.deal-container{
    margin-top: 200px;
}
.deal-des{
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: rgba(39, 39, 39, 0.60);
    padding: 15px;
    width: 700px;

}
.deal-title{
    text-align: center;
    font-size: 30px;
}
.deal-btn{
    
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    justify-content: center;
    display: inline-block;
    margin-left: 270px;
    color: #e7e4e4;


}

/* instagram section */

.insta-img{
    display: flex;
    align-items: center;
    margin-left: 250px;
    gap: 10px;
    border-radius: 10px;
    padding-top: 100px;
    width: 594px;
}

.insta-info{
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 100px;
}
.insta-title{
    padding-bottom: 10px;
    font-size: 40px;
}
.insta-des{
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
   
    
}
.subs-container{
    width: 1440px;
    height: 449px;
    background-image: url("../image/Rectangle\ 9.png");
    margin-top: 100px;
    padding-right: 100px;
    background-repeat: no-repeat;
    justify-content: center;
    margin: 250px;
    
}

.sub-title{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 50px;
}
.sub-des{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.input-sub{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 10px;
}
.email{
    padding: 18px 400px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.btn-sub{
    background-color: #E55473;
    color: aliceblue;
    
    padding: 30px;
    border-radius: 30px 10px;
    border: none;
}

.ft-container{
    color: white;
    background-color: black;
    text-align: center;
    max-width: 19222px;
    
    height: 500px;
}

.ft-info{
    padding-top: 200px;
}

.ft-title{
    font-size: 50px;
    padding-bottom: 5px;
}

.ft-des{
    font-size: 20px;
    padding-bottom: 30px;
}